<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listar Tareas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <main class="container">
            <div class="row">
                <h1 class="text-center my-5">Listar Tareas</h1>
                <div class="col-10 mx-auto">
                    <table class="table table-striped">
                        <tr>
                            <th>Tarea</th>
                            <th>Descripcion</th>
                            <th>Fecha de Creacion</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                        {% for tarea in tareas%}
                            <tr>
                                <td>{{tarea.titulo}}</td>
                                <td>{{tarea.descripcion}}</td>
                                <td>{{tarea.fecha_creacion}}</td>
                                <td>
                                    {% if tarea.completado == False %}
                                        Incompleto
                                    {% else %}
                                        Completado
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'actualizar_tarea' tarea.id %}" class="btn btn-warning">Actualizar</a>
                                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>